<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  	<body>
		<footer id="footer"  th:fragment="footer">
		    <div class="container">
		    	 <div class="row">
		    	 	<div class="col-md-11 col-md-offset-1">
		    	 		<h3 class="footertext">Iceland Events</h3>
		    	 		<br></br>
		    	 	</div>
		    	 </div>
		        
		        <div class="row">
		            <p><center><a href="#">Contact us</a> <p class="footertext">Copyright 2016</p></center></p>
		        </div>
		    </div>
		</footer>
 	</body>
</html>