<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	 <head>
	
	</head>
	 
  	<body>
		<nav th:fragment="navUser" class="navbar navbar-inverse">
			  <div class="container-fluid">	
				    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					      <ul class="nav navbar-nav">
						        <li><a th:href="@{/}">Home</a></li>
						        <li><a th:href="@{/createEvent}">Create event</a></li>
						        <li><a th:href="@{/}">My event</a></li>
					      </ul>
					      <ul class="nav navbar-nav navbar-right">
						        <p class="navbar-text" th:inline="text" >Signed in as [[${#httpServletRequest.remoteUser}]]</p>
						        <li>
				        	        <form th:action="@{/logout}" method="post">
            							<button type="submit" class="btn btn-default navbar-btn" >Sign out</button>
        							</form>						        
						        </li>
						        
					      </ul>
				    </div><!-- /.navbar-collapse -->
			  </div><!-- /.container-fluid -->
		</nav>	       
  	</body> 	
</html>