.container {
    background-color: #F5F5F5;
}

.form-signin
{

    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}

.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.new-account
{
    display: block;
    margin-top: 10px;
}

.navbar-btn
{
	margin-left: 8px;
}
.event
{
	
	width: 50%;
	border: 1px solid #000;
	padding: 15px;
	overflow: auto;
	margin: auto;
	background-color: white;
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 1%;
}

.event img
{
	float: left;
	height:auto;
	width: 285px;
	height: 190px;
	margin-right: 10px;
	border-radius: 1%;
}
#searchdate
{
	margin-left: 45%;
}

/*-----------------create event --------------------------*/

#imgInp
{
	display: inline;
    padding-left: 15px;
}

/*----------------------Footer---------------------------------- */

.footertext {
  color: #ffffff;
}

/*html {
  position: relative;
  min-height: 100%;
}
body {
  /*Margin bottom by footer height */
 /* margin-bottom: 60px;
}*/

#footer {
	margin-top: 60px;
	border-radius: 4px;
  /*position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  /*height: 280px;*/
  background: 
  /* color overlay */ 
    linear-gradient(
      rgba(0, 0, 0,1), 
      rgba(0, 0, 0, 0.70)
    )
    /* image to overlay */
   /* url(http://images.cdn.fotopedia.com/_avPIZmqM3w-7z161LH_268-hd.jpg);*/
}
