@media (min-width: 1400px){
 	.container {
   		 width: 1370px;
	}
}
main{
	background-color: #d4d4d4;
}

p{
	font-weight: 600;
}

h4{
	font-weight: 600;
}

h5{
	font-weight: 600;
}

.btn-margin{
	margin-top: 5px;
}
.navbar{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.header{
	background-color: #222;
}

.headerlogo{
    margin-top: 20px;
    margin-bottom: -20px;
    max-height: 65px
}

.mainVeiw {
	
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 60px;
    border-radius: 4px;
}

#gray-btn{
	color: #f5f5f5;
    background-color: #545454;
    border-color: white;
    font-weight: 600;
    font-size: 20px;
}

#gray-a{
	color: #545454;
    font-size: 18px;
    font-weight: 600;
}


.event #eventname{
	font-weight: 600;
	margin-left: 10px;
	font-size: 20px
}

.event #eventtime{
	float: left;
    margin-right: 15px;
    margin-left: 10px;
}

.event #eventdata{
	
}



.form-signin
{

    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin 
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}

.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
     background-color: #f5f5f5;
     border-radius:4px;

}
.login-title
{
    color: #555;
    font-size: 24px;
    font-weight: 600;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.new-account
{
    display: block;
    margin-top: 10px;
}

.navbar-btn
{
	margin-right: 16px;
}

.eventrow{
	    
    margin: auto;
	
}
.event
{
	
    /* border: 1px solid #000; */
    background-color: #f5f5f5;
    margin-top: 20px;
    /* margin-bottom: 5px; */
    padding-left: 2%;
    border-radius: 1%;
}
.event img
{
    max-width: 400px;
    width: 100%;
}
#searchdate
{
	margin-left: 45%;
}

/*-----------------create event --------------------------*/

#imgInp
{
	display: inline;
    padding-left: 15px;
}

/*----------------------Footer---------------------------------- */

.footertext {
  color: #ffffff;
}


#footer {
  background: 
    linear-gradient(
      rgba(0, 0, 0,1), 
      rgba(0, 0, 0, 0.70)
    )
    /* image to overlay */
   /* url(http://images.cdn.fotopedia.com/_avPIZmqM3w-7z161LH_268-hd.jpg);*/
}
