<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
	
  </head>
  <body>
    <div th:fragment="content">
    	
    	<input id="searchdate" type="text" readonly="readonly" />
    
    	<h1 th:text="${day} ? ${#calendars.format(day,'dd MMMM yyyy')}"></h1>
    
    	<h5 th:if="${#lists.isEmpty(events)}">No Events</h5>
    	
	    <div th:each="event : ${events}" class="event">
	    <img th:src="${event.imageurl}" alt="Image of the event"/>
          <p th:text="${event.name}"></p>
          <p th:text="${event.time}"></p>
          <p th:text="${event.location}"></p>
        </div>
      
    </div>
  </body>
</html>