<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>

  </head>
  <body>
 		<div th:fragment="content">
  			<div class="row">
		        <div class="col-sm-6 col-md-8 col-md-offset-2">
		            <h1 class="text-center login-title">Edit Event</h1>
		             <div class="account-wall">	                    
		                <form class="form-signin" th:action="@{/editEvent}" th:object="${event}" method="post" enctype="multipart/form-data">
<!-- 			                <input type="hidden" th:value="${#httpServletRequest.remoteUser}" name="username" /> -->
<!-- 			                <input type="hidden" th:value="*{id}" name="id" />	                -->
			               <div class="row">
			               
			               		<div class=" col-md-6 ">
        						     <div class="form-group">		                		
				                		<label for="name" class="cols-sm-2 control-label">Name of the Event</label>
						                <input type="text" th:field="*{name}"  placeholder="Name of the Event" class="form-control"  />
						               	<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
				               		</div>	
			                 	</div>
			               		
			               		
			               		<div class=" col-md-6 ">				               	
					               	<div class="form-group">			               	
					               		<label for="location" class="cols-sm-2 control-label">Location</label>
				                		<input type="text" th:field="*{location}"  placeholder="Enter location" class="form-control" />
				                		<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('location')}" th:errors="*{location}"></div>
					                </div>			               				               		
			               		</div>
			               			               			               			               
			               </div>
			               
			               <div class="row">
			               		<div class=" col-md-6 ">
				                	<div class="form-group">
					               			<label for="image" class="cols-sm-2 control-label">Image</label>
			                				<input id="imgInp" type="file" name="file" accept="image/*" />
					                	<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('imageurl')}" th:errors="*{imageurl}" ></div>
					                	<div class="alert alert-danger" role="alert" th:text="${erroImage}" th:if="${erroImage}" ></div>
					                	<img th:if="*{imageurl == null}" id="imgEvent" src="#" th:src="@{/static/images/icon_picture.png}"/>
					                	<img th:unless="*{imageurl == null}" id="imgEvent" src="#" th:src="*{imageurl}" />
					                </div>			               		
			               		</div>
			               		
			               		
			               		<div class=" col-md-6 ">
					               <div class="form-group">			               	
					               		<label for="description" class="cols-sm-2 control-label">Description</label>	
					               		<textarea th:field="*{description}" class="form-control" rows="8" placeholder="Description" maxlength="250"></textarea> 			
		 			                	<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div> 
					                </div>			               		
			               		</div>			               
			               			               			               		               
			               </div>
			               
			               <div class="row">
			               
			               		<div class=" col-md-6 ">
					               	<div class="form-group">			               	
					               		<label for="time" class="cols-sm-2 control-label">Time</label>
					               		<div class="bootstrap-timepicker">
			                				<input type="text" id="timepicker1" th:field="*{time}" placeholder="Enter time" class="form-control" />
				                		</div>
				                		<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('time')}" th:errors="*{time}"></div>
					                </div>			               		
			               		</div>
			               					               		
			               		<div class=" col-md-6 ">
					               	<div class="form-group">			               	
					               		<label for="date" class="cols-sm-2 control-label">Date</label>
			                			<input type="text" id="datepicker" class="form-control" data-provide="datepicker" th:field="*{date}"  placeholder="Pick a date" readonly="readonly" />
				                		<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></div>
					                </div>			               		
			               		</div>			               			               			               			               			               
			               </div>
			               
	               			<div class="row">
	               				<div class=" col-md-12 ">
	               					<div class="form-group">
	               						<div>
               								<label for="musicgenres" class="cols-sm-2 control-label">Music genres</label>
  										</div>
  										<label class="radio-inline"><input type="radio" name="musicGenres" th:field="*{musicgenres}" th:value="Other" />Other</label>
	               						<label class="radio-inline"><input type="radio" name="musicGenres" th:field="*{musicgenres}" th:value="Rock" />Rock</label>
		               					<label class="radio-inline"><input type="radio" name="musicGenres" th:field="*{musicgenres}" th:value="Pop" />Pop</label>
		               					<label class="radio-inline"><input type="radio" name="musicGenres" th:field="*{musicgenres}" th:value="jazz" />jazz</label>
		               					<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('musicgenres')}" th:errors="*{musicgenres}"></div>		               					
	               					</div>
	               				</div>
	               			</div>
			
			               				               
			               <div class="row">
			               		<div class=" col-md-6 col-md-offset-3">
			               			<button id="gray-btn" class="btn btn-lg btn-default btn-block" type="submit">Update Event</button>
			               		</div>			               
			               </div>			               			               		                		                				                			                			                			                		
			                	
			                           

			                           
		                </form>
		            </div>
		            
		        </div>
    		</div> 					
 		</div>
  </body>
</html>