<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>

  </head>
  <body>
    <div th:fragment="content">
    
    <a th:href="@{/index2}">Index2</a>
    
    
	<div th:if="${#httpServletRequest.remoteUser}"> <!-- if customer is not anonymous-->
   		<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
	</div>
	
	<div th:unless="${#httpServletRequest.remoteUser}"> <!-- if customer is anonymous(logged in)-->
   		<div>Logaði þér inn</div>
	</div>

	<span th:text="${serverTime}" />
	
	<input type="text"  placeholder="Enter your Name" class="form-control"  th:value="${serverTime}" />
      
    </div>
  </body>
</html>