<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
	
  </head>
  <body>
    <div th:fragment="content">

	<div class="row">

		
			<input id="searchdate" type="text" readonly="readonly" placeholder="Pick a date" th:attr="data-dates=${dates}" />

		<div class="col-md-4">
			<h3 class="currentDay" th:if="${day != null}" th:text="${#calendars.format(day,'dd MMMM yyyy')}"></h3>
		</div>
	
		<div class="col-md-4 col-md-offset 4">
			<input id="searchdate" class="form-control" placeholder="Choose date" type="text" readonly="readonly" th:attr="data-dates=${dates}" />		
		</div>			
			

	</div>
    
    	<h5 th:if="${#lists.isEmpty(events)}">No Events</h5>
    	
    <div class="row eventrow">
	    <div class="col-md-6" th:each="event : ${events}" >
       		<div class= "event">
			    <div class="row">  	    
			    	<div class="col-md-6">
			    		<h4 id="eventname" th:text="${event.name}"></h4>
			    	</div>	    	
				    <div class="col-md-6">
			    		 <h4 id="eventlocation" th:text="${event.location}"></h4>
			    	</div>	    	    
			    </div>
		    
			    <div class="row">  	    
			    	<div class="col-md-6">
			    		<img id="eventimg" th:src="${event.imageurl}" alt="Image of the event"/>
			    	</div>	
				    <div class="col-md-6">
			    		 <p id="eventdescription" th:text="${event.description}"></p>
			    	</div>	    	    
			    </div>	 
			       
			    <div class="row">  	    
			    	<div class="col-md-6">		    			    				    	
			    		<h5 id="eventtime" th:text="${event.time}"></h5>
			    		<h5 id="eventdata" th:text="${#calendars.format(event.date,'dd MMMM yyyy')}"></h5>			    			    		
			    	</div>			    		    	
				    <div class="col-md-6">
				    	<label>Music type : </label>
			    		<p id="eventgenres" th:text="${event.musicgenres}"></p>
			    	</div>	    	    
			    </div>
		    </div>    	    	  
        </div>
    </div>	   
        
        
        
        
      
    </div>
  </body>
</html>